<ul class="container nav d-flex col-sm-8">
  <!-- Forloop to display all pokemons in the PokeApi. -->
  <li *ngFor="let pokemon of pokemons; let i = index" class="pl-2 pr-2">
    <div class="pb-2 pt-2 display-block">
      <img
        [src]="pokeUrl + [i + 1] + pokePng"
        [alt]="i + 1"
        class="border rounded"
        width="150"
      />
      <br />
      <span>{{ pokemon.name }}</span>
      <!-- Checks if the user has caught the pokemon before, and will display a small pokeball for each one. -->
      <img
        *ngIf="pokeListCheck.includes(pokemon.name)"
        [src]="pokeBallPic"
        alt="error"
        width="25"
      />
      <br />
      <button (click)="catchMe(pokemon)" class="btn btn-danger w-100 mt-2 mb-5">
        Catch me!
      </button>
    </div>
  </li>
</ul>
