<div class="navbar navbar-default bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand text-white">Pokémon Trainer</a>
    </div>
    <div>
      <a routerLink="/trainer" class="text-white mr-5" href="#">Trainer Page</a>
      <a routerLink="/catalogue" class="text-white" href="#">Trainer Catalogue</a>
    </div>
  </div>
</div>
