<main class="container">
  <h1>Add new trainer</h1>
  <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
    <fieldset>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          ngModel
          #username="ngModel"
          required
          minlength="2"
          [ngClass]="{
            'is-valid': username.valid,
            'is-invalid':
              username.invalid && (username.dirty || username.touched)
          }"
          placeholder="What's your name?"
        />
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="loginForm.invalid"
        >
          Add trainer
        </button>
      </div>
      <!-- Checks for invalid username. -->
      <div
        *ngIf="
          username.errors &&
          username.invalid &&
          (username.dirty || username.touched)
        "
      >
      <!-- Prompts an error message to the user. -->
        <div class="invalid-feedback" *ngIf="username.errors['required']">
          The name is required
        </div>
        <div class="invalid-feedback" *ngIf="username.errors['minlength']">
          The name is too short
        </div>
      </div>
    </fieldset>
  </form>
</main>