<ul class="container nav d-flex col-sm-8">
  <!-- Forloop to display all pokemon the user has caught. -->
  <li *ngFor="let pokemon of pokemonArray; let i = index" class="pl-2 pr-2">
    <div class="pb-2 pt-2 display-block">
      <img
        [src]="pokeUrl + pokeIndexes[i] + pokePng"
        [alt]="i + 1"
        class="border rounded"
        width="150"
      />
      <br />
      <span> {{ pokemon }}</span>
      <br />
      <button (click)="releaseMe(pokemon)" class="btn btn-danger w-100 mt-2 mb-5">
        Release me!
      </button>
    </div>
  </li>
</ul>
